body {
    background-color: rgb(180, 231, 214);
}
form {
    background-color: rgb(243, 243, 243);
    width: 40rem;
    margin: 2rem auto;
    padding: 1rem 1rem;
    border-radius: 6px;
    box-shadow: 2px 2px rgba(1, 1, 1, 0.1) ;
}



h1 {
    text-align: center;
    margin: 2rem;
}

#userdetails h2 {
    margin-top: 0;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
    display: flex;
}
